@import "tailwindcss";

:root {
  --background: #f5f9f6;
  --foreground: #171717;
}

@theme {
  --color-brand-main: #47718e;
  --color-brand-200: #3c5e77;
  --color-brand-300: #335166;

  --color-offwhite-50: #d9d9d9;
  --color-offwhite-100: #f5f9f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-peyda);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-peyda), Arial, Helvetica, sans-serif;
}
